
{%extends 'base.html'%}

{%load static%}

{%block title%} | About {%endblock%}

{%block content%}

  <!-- ======= What we do ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <img src="{% static 'img/whatWeDo.jpg' %}"  class="img-fluid rounded-4 mb-4" alt="what we do">
        <h2>What we do</h2>
        <p></p>
      </div>
      <div class="row gy-4">
        <div class="col-lg-6">
       </div>
        <div class="col-lg-6">
          <p>Following the disappearance of members of the African community, Cameroonian in particular, it is no longer rare to see public quests organised in order to raise funds to help repatriate the body. </p>
          <p>Faced with this phenomenon, the Final trip network has taken initiative by setting up an organisation involving all the Cameroonian groups and associations willing to eradicate the phenomenon of public quests at each death.</p>
          <p>The more the number increases, the lower the individual share so as to facilitate the repatriation of the remains of our loved ones with love, dignity and humanity in accordance with the last wishes of the deceased and/or the bereaved family. This is a message to every member of the community; this message concerns us and appeals to everyone because death is something that will knock on our door sooner or later. Think ahead and take the option of being counted among the members of Final trip. </p>
        </div>
     
      </div>

    </div>
  </section><!-- End What we do Section -->

      <!-- ======= Hero Section ======= -->
<section id="hero" class="hero">
    <div class="container position-relative">
      <div class="row gy-5" data-aos="fade-in">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
          <h2>The objective of Final Trip </h2>
          
        </div>
        <div class="col-lg-6 order-1 order-lg-2">
        </div>
      </div>
    </div>

    <div class="icon-boxes position-relative">
      <div class="container position-relative">
        <div class="row gy-4 mt-5">

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-users"></i></div>
              <h4 class="title"><a href="" class="stretched-link"></a></h4>
              <P>Encourage Members of the cameroonian community to come out of their isolation by integrating the different existing associations in order to facillitate their integration and strengthen solidarity. </P>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-users"></i></div>
              <h4 class="title"><a href="" class="stretched-link"></a></h4>
              <P>Ensure that our funeral service partners provide the required services as stipulated in their agreements with final trip.  </P>
            </div>
          </div><!--End Icon Box -->

 
          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-users"></i></div>
              <h4 class="title"><a href="" class="stretched-link"></a></h4>
              <P>
                Provide a lasting solution to the chapter of bereavement contributions with all the associations of the immigrant community in case of death of one of their members. It is known that the financial contribution during the loss of a member in a group or association remains by far the most important help, and no one is ever quite prepared to assume the financial burden.
            </P>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-users"></i></div>
              <h4 class="title"><a href="" class="stretched-link"></a></h4>
                <P>
                    Gather around all existing Cameroonian associations in Canada to facilitate the operations surrounding the death of a member of the immigrant community in Canada.
                </P>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-users"></i></div>
              <h4 class="title"><a href="" class="stretched-link"></a></h4>
                <P>
                    Final trip wants by this socio-community approach, relieve the bereaved family and group by reducing the costs related to the death.
                </P>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-users"></i></div>
              <h4 class="title"><a href="" class="stretched-link"></a></h4>
                <P>
                    Work collectively to facilitate the management of repatriation or execution of the last will of the deceased. 
                </P>
            </div>
          </div><!--End Icon Box -->

        </div>
      </div>
    </div>

    </div>
  </section>
  <!-- End Hero Section -->
  <!-- ======= Core Values ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Core values</h2>
        <img src="{% static 'img/core_values.jpg' %}" alt="core values">
      
    </div>
      <div class="row gy-4">
        <div class="col-lg-6">
          <h3> Final trip is a non-profit organization, whose primary mission is to help the community and eradicate public funding request after a death occurs.</h3>
       </div>
        <div class="col-lg-6">
        <ul>
            <li>
                <h3>Integrity and professionalism:</h3>
                <p>Donor funds and associations are operated according to (the) line (s) budget (s) and that all transactions are carried out transparently. RPN never uses the funds for other reasons other that its primary objective.</p>
                <p>We provide financial reports to donors and member associations, regardless of the amount of the grant or contribution. We believe that the timely submission of these reports create the trust we earn from our donors</p>
            </li>
            <li>
                <h3>Courtesy:</h3>
                <p>All our volunteers are trained to treat all our stakeholders with respect. </p>
            </li>
            <li>
                <h3>Fairness, Equity et Teamwork:</h3>
                <p> We endeavor to reach out to all vulnerable and needy children and their families regardless of their race, educational background, family history or color. We do not support political parties, religious groups or a particular group of the society.</p>
                <p>We involve the grassroots in problem-solving. We do not take an implementation role: we take a facilitator role so that programs will be sustainable even in the event we wind-up programs in areas where we work.</p>
            </li>
        </ul>
        </div>
     
      </div>

    </div>
  </section><!-- End core values Section -->
    <!-- ======= Membership Conditions ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">
    
          <div class="section-header">
            <h2>Membership conditions</h2>
          </div>
          <div class="row gy-4">
            <div class="col-lg-6">
              <p>One of the objectives pursued by Final trip is to motivate each member of the community to attend an association of their choice. Persuade him / her out of isolation and belong to a group within the community to avoid cases like those that occurred in Canada in the past (people who would have known their nationality only after their death.) And worse whom no one in the community knew of). It is often very shameful to deal with this kind of situation. Hence the importance of being a member (or sympathizer) of an association or a group. To be a member of Final trip:  </p>
              <ul>
                <li> It is mandatory to be a member of an association or a group in the community. </li>
                <li> The association or group of which you are a member or sympathizer is registered with Final trip and indirectly grants you membership with Final trip.  </li>
                <li>Any association in the community has the opportunity to offer all its members the right to be members of Final trip by signing a membership agreement and payment of a one time registration fee of $20 through the Final trip's website.  </li>

              </ul> 
            </div>
         
          </div>
    
        </div>
      </section><!-- End Membership Conditions Section -->

{%endblock%}