{%extends 'base.html'%}

{%load static%}
{%block title%} | Welcome {%endblock%}

{%block content%}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<!-- ======= Hero Section ======= -->
<section id="hero" class="hero">
    <div class="container position-relative">
      <div class="row gy-5" data-aos="fade-in">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
          <h2>Welcome to <span>Final Trip / Dernier voyage</span></h2>
          
        </div>
        <div class="col-lg-6 order-1 order-lg-2">
          <!-- <img src="{%static 'img/.jpg'%}" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="100"> -->
        </div>
      </div>
    </div>


      <div class="container position-relative">
        <div class="row gy-4 mt-5">

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-users"></i></div>
              <h4 class="title">
                <a href="" class="stretched-link">ACTIVE MEMBERS</a>
                <hr>
                <P><strong>200</strong> </P></h4>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-money-bill-alt"></i></div>
              <h4 class="title"><a href="" class="stretched-link">PARTICIPATION BY MEMBER</a>
                <hr>
              <p><strong>€unavailable now</strong></p>
              </h4>
              
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-handshake"></i></div>
              <h4 class="title">
                <a href="" class="stretched-link">PARTNERS</a>
                <hr>
                <p> <strong>10</strong></p>
                <p><strong>Associations</strong></p>
              </h4>
              
            </div>
          </div><!--End Icon Box -->


        </div>
      </div>
    </div>

   
  </section>
  <!-- End Hero Section -->

  <!-- ======= About Us Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Final Trip Network</h2>
        <p></p>
      </div>
      <div class="row gy-4">
        <div class="col-lg-6">
          <h3></h3>
          <img src="{% static 'img/about.jpg' %}" class="img-fluid rounded-4 mb-4" alt="about us">
       </div>
        <div class="col-lg-6">
          <p>Following the disappearance of members of the African community, Cameroonian in particular, it is no longer rare to see public quests organised in order to raise funds to help repatriate the body. </p>
          <p>Faced with this phenomenon, the Final trip network has taken the initiative by setting up an organisation involving all the Cameroonian groups and associations willing to eradicate the phenomenon of public quests at each death.</p>
          <p>The more the number increases, the lower the individual share so as to facilitate the repatriation of the remains of our loved ones with love, dignity and humanity in accordance with the last wishes of the deceased and/or the bereaved family. This is a message to every member of the community; this message concerns us and appeals to everyone because death is something that will knock on our door sooner or later. Think ahead and take the option of being counted among the members of the Final Trip. </p>
        </div>
     
      </div>

    </div>
  </section><!-- End About Us Section -->

  <!-- ======= Our Services Section ======= -->
  <section id="" class="services ">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Our Services</h2>
      </div>

      <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">

    
        <div class="col-lg-4 col-md-6">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="fas fa-edit"></i>
            </div>
            <h3>Ensure Repatriation and Wishes</h3>
            <p>Ensure repatriation to homeland or carry out the wishes of the deceased.</p>
          </div>
        </div><!-- End Service Item -->
        
        <div class="col-lg-4 col-md-6">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="fas fa-money-bill-alt"></i>
            </div>
            <h3>Lighten Contributions</h3>
            <p>Lighten individual contributions by the weight of numbers, because the more we are, the less you pay.</p>
          </div>
        </div><!-- End Service Item -->
        
        <div class="col-lg-4 col-md-6">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="fas fa-edit"></i>
            </div>
            <h3>Administrative Support</h3>
            <p>Ensure that on the administrative side, the bereaved family is entitled to all that is due to them (annuity).</p>
          </div>
        </div><!-- End Service Item -->
        
        <div class="col-lg-4 col-md-6">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="fas fa-edit"></i>
            </div>
            <h3>Funeral Planning</h3>
            <p>Organize and plan the funeral according to the wishes of the deceased or the family.</p>
          </div>
        </div><!-- End Service Item -->
        
        <div class="col-lg-4 col-md-6">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="fas fa-edit"></i>
            </div>
            <h3>Dignified Return</h3>
            <p>Ensure a harmonious and dignified return of the remains of loved ones.</p>
          </div>
        </div><!-- End Service Item -->
        
        <div class="col-lg-4 col-md-6">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="fas fa-edit"></i>
            </div>
            <h3>Equal Coverage</h3>
            <p>Provide the same coverage to all members of your family living with you here in Germany.</p>
          </div>
        </div><!-- End Service Item -->
        
        <div class="col-lg-4 col-md-6">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="fas fa-tablet"></i>
            </div>
            <h3>Funeral Director Services</h3>
            <p>Offer the services of a funeral director for funeral services.</p>
          </div>
        </div><!-- End Service Item -->
        
        <div class="col-lg-4 col-md-6">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="fas fa-users"></i>
            </div>
            <h3>Grieving Support</h3>
            <p>Provide opportunities to the bereaved family to grieve.</p>
          </div>
        </div><!-- End Service Item -->
        
        <div class="col-lg-4 col-md-6">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="fas fa-chart-line"></i>
            </div>
            <h3>Community Support</h3>
            <p>Bring together a community around a common cause to humanity: (death)</p>
          </div>
        </div><!-- End Service Item -->
        
        <div class="col-lg-4 col-md-6">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="fas fa-chart-line"></i>
            </div>
            <h3>Dignified Treatment</h3>
            <p>Bring some dignity and humanism treating the remains of our loved ones to be repatriated.</p>
          </div>
        </div><!-- End Service Item -->
        
        <div class="col-lg-4 col-md-6">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="fas fa-users"></i>
            </div>
            <h3>Community Awareness</h3>
            <p>Give broad dissemination to death for each death becomes community.</p>
          </div>
        </div><!-- End Service Item -->
        

      </div>

    </div>
  </section><!-- End Our Services Section -->


      <!-- ======= Call To Action Section ======= -->
      <section id="call-to-action" class="call-to-action">
        <div class="container text-center" data-aos="zoom-out">
          <h3>Our Mission</h3>
          <img src="{% static 'img/callToAction.jpg' %}" class="img-fluid rounded-4 mb-4" alt="">
          <p> One of Final trip's objectives is to motivate every member of the community to be part of an association of their choice. We encourage them not to live in isolation but to belong to a group within the community to avoid cases such as have occurred in Germany in the past. Most times, people's nationalities are discovered only after their death, and they often do not know or have anyone in the community. It is often very shameful to face this kind of situation, hence the importance of being a member or supporter of an association or group such as the Final Trip. </p>
         
        </div>
      </section><!-- End Call To Action Section -->

{%endblock %}
